<% if @user_profile.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@user_profile.errors.count, "error") %>.
    </div>
    <ul>
    <% @user_profile.errors.full_messages.each do |msg| %>
    <li><%= msg %></li> <% end %>
    </ul>
  </div>
<% end %>
